hanlp
neo4j
zhconv
requests
pydantic
langgraph
langsmith
langchain
python-dotenv
wikipedia-api
langchain-core
beautifulsoup4
langchain-neo4j
graphdatascience
typing-extensions
langchain-deepseek
langchain-community
langchain-huggingface
sentence-transformers
