hanlp
neo4j
zhconv
pyquery
requests
pydantic
langgraph
langsmith
langchain
streamlit
python-dotenv
langchain-core
beautifulsoup4
langchain-neo4j
graphdatascience
typing-extensions
langchain-deepseek
langchain-community
langchain-huggingface
sentence-transformers
